sudo: false
language: python
cache: false

python:
  - "2.7"
  - "3.6"
  - "3.7"
  - "3.8"
env:
  - REQUESTS_VERSION="2.18.4"
  - REQUESTS_VERSION="2.19.1"
  - REQUESTS_VERSION="2.20.1"
  - REQUESTS_VERSION="2.21.0"
  - REQUESTS_VERSION="2.22.0"
  - REQUESTS_VERSION="2.23.0"
install:
  - pip install --src build/ -e git+https://github.com/psf/requests@v${REQUESTS_VERSION}#egg=requests -r requirements-test.txt

script:
  - pytest --cov=advocate --cov-config=.coveragerc
  - pushd build/requests && PYTHONPATH=$TRAVIS_BUILD_DIR pytest -p requests_pytest_plugin && popd

# Coverage metrics
before_install:
  - pip install codecov
after_success:
  - codecov
